$red: #dc3545;
$body: #2d2d2d;
$muted: #6c757d;
$shadow: rgb(204, 204, 204);
$light: #dee2e6;
$opacity: rgba(0, 0, 0, 0.075);

$primary: #f76c6c;
$primary-dark: #f43c3c;
$primary-light: #fbb5b5;
$secondary: #374785;
$secondary-light: #8d9acf;
$secondary-dark: #24305e;
$tertiary: #a8d0e6;
$tertiary-light: #d3e7f2;
$warning: #f8e9a1;
