@import "./variables";

.LoadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;

  .sbl-circ-path {
    height: 100px;
    width: 100px;
    color: rgba(90, 90, 90, 0.2);
    border: 5px solid;
    border-radius: 50%;
    border-right-color: $secondary;
    animation: rotate 1s linear infinite;
  }

  .loading-message {
    width: 300px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 450;
    padding-top: 1rem;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
